# Give the add-on access to the mob AI goal lists so it can add/remove behaviors.
public net.minecraft.world.entity.Mob f_21345_ # goalSelector
public net.minecraft.world.entity.Mob f_21346_ # targetSelector
